/* arrange the contents as flexboxes, and set to 100% of viewport */
body
{
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
  min-width: 35ch;
  margin: 0;

  font-family: 'Philosopher', 'Rufina', 'Spectral',"Trebuche MS", serif;
  font-size: 36px;

  /* no horizontal scroll */
  overflow-y: hidden; 
}

/* flex allow the header to moved around (left to right) */
header {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-family: 'Karla', Arial, Helvetica, sans-serif; 
  font-size: 75px;
}

/* default link style - unvisited */
a {
  text-decoration: none;
  color: lightskyblue;
}

/* link changes color when mouse hovers - MODIFY THIS FOR THE BUTTON*/
a:hover {
  color: rgb(68, 213, 32);
}

/* background color and picture styles - MODIFY THIS FOR THE HERO*/
.hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/aurora-hero.jpeg);
  
  height: 80vh;

  
  /* background-color: black; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


  /* contents style - paragaph and button */
  padding: 1rem;


  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: clamp(1rem, 2.5vw, 2rem); 
  color: white;
}

/* text style */
p {
  /* This gives spaces around the paragraph from the hero image. */
  margin-bottom: 5em;
  margin-left: 15em;
  margin-right: 15em;
  max-height: 50%;
  min-width: 35ch;
  font-size: 20px;

  color: white;
}

button:hover {
  background-color: slategray;
  color: black;
}


/* Sticky container - sets orientation to center and surrounding space */
footer {
  margin: 2rem;

  font-size: 13px;
  text-align: center;
}